.section-top .topbar {
    background-color: #195592;
  }
  
.section-top .topbar p {
    color: white;
    margin: 5px;
    font-size: 13px;
}
  
  /* content-left */
  
  .main .content-left {
    background-color: white;
    padding: 25px;
    box-shadow: 0 1px 29px 0 #bbb;
  }
  
  .main .content-left .title {
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    padding: 10px;
    color: #333;
    box-sizing: border-box;
    margin-top: 5px;
    line-height: 32px;
    text-transform: uppercase;
  }
  
  .main .content-left .social-item {
    margin-top: 20px;
  }
  
  .main .content-left .muc-luc-block {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px dashed #ccc;
    margin-bottom: 20px;
  }
  
  .main {
    background-color: #f5f5f5;
  }
  
 .main .row-detail {
    padding: 40px;
  }
  
  /* end-content-left */
  
  /* content-right */
  .main .content-right{
      position: relative;
  }
  /* .main .content-right .position-fixed{
      position: fixed;
  } */
  .main .content-right .title-left {
    background: #185493;
    color: white;
    text-indent: 5px;
    text-transform: uppercase;
    font-size: 15px;
    display: inline-block;
    min-width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 0px;
  }
  
  .main .content-right .nav-bar {
    display: inline-block;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
    box-shadow: 1px 1px 1px #ccc;
  }
  
  .main .content-right .nav-bar .ul-child,
  .ul-parent {
    list-style: none;
  }
  
  .main .content-right .nav-bar .ul-child,
  .ul-parent li a {
    text-decoration: none;
  }
  
  .main .content-right .nav-bar .ul-parent,
  .ul-child {
    padding-left: 0px;
  }
  
  .main .content-right .nav-bar .ul-child,
  .ul-parent li {
    margin: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  
  .main .content-right .nav-bar .ul-child,
  .ul-parent li a {
    font-size: 12px;
    font-family: "Noto Serif";
    margin-top: 5px;
    margin-left: 15px;
    color: #333;
  }
  
  .main .row-footer {
    padding: 40px;
    background-color: white;
    margin-top: 10px;
  }
  
  .main .row-footer .ul-parent-footer a {
    font-size: 13px;
    color: #333;
    font-family: "Noto Serif";
  }
  
  .main .row-footer .ul-child-footer,
  .ul-parent-footer {
    list-style: none;
    padding-left: 0px;
  }
  
  .main .row-footer .title-footer {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    font-family: "Noto Serif";
  }
  
  .main .row-service-relevant {
    width: 70%;
    padding: 30px;
    background-color: #ff9900;
    margin-top: -35px;
    z-index: 9999;
  }
  
  .main .row-service-relevant .image-logistic img {
    border: 1px solid white;
    border-radius: 2px;
  }
  
  .main .row-service-relevant .text-logistic h5 {
    margin-left: 20px;
    color: white;
  }
  
  .main .row-service-relevant .ul-logistic li {
    list-style: none;
    margin: 0px;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 18px;
  }
  
  .main .row-service-relevant .ul-logistic li a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    padding-left: 0px;
  }

  
  
  @media only screen and (max-width: 575px) {
    .detail-left .row-detail {
      padding: 0px;
    }
  
    .main .row-service-relevant {
      width: 100%;
      box-sizing: unset;
    }
  }