.title-cauhoi p {
    text-align: center;
    font-size: 40px;
    padding: 50px 0px;
  }
  
  .section-body-cauhoi .card-header {
    background-color: white !important;
  }
  .section-body-cauhoi .card-body {
    background-color: #f9f9f9;
  }
  
  .section-body-cauhoi .cauhoi-card .card-header .btn:hover {
    text-decoration: none;
    color: black;
  }
  
  .section-body-cauhoi .cauhoi-card .card-header .btn {
    font-size: 14px;
    text-align: left !important;
    color: black;
    font-weight: 600;
  }
  
  .section-body-cauhoi .cauhoi-card .card-header i {
    font-size: 8px;
    color: white;
    padding: 3px;
    background-color: green;
    border-radius: 100%;
  }
  
  .section-body-cauhoi .cauhoi-column .cauhoi-card {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  }
  
  .section-body-cauhoi .cauhoi-card .card-body p {
    font-size: 13px;
  }
  
  .pagination-cauhoi .row-pagination {
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .pagination-cauhoi .row-pagination .page-link {
    border: none !important;
    color: black;
    font-size: 13px;
  }
  
  .pagination-cauhoi .row-pagination .page-link:hover {
    background-color: white !important;
    color: black !important;
  }