body{
    font-family: 'Roboto', sans-serif;
}
.row , .col {
    padding: 0px;
    margin: 0px;
}
.container, .row{
    max-width: 1250px;
}

.bounceInRight, .bounceInLeft, .bounceInUp, .bounceInDown {
    opacity: 0;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

/******Header-top*****/
.header-background{
    background-color: #05366B;
}
.hr-custom{
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-bottom:1px solid #234c78;
}
.header-top{
    padding: 5px 0px;
}
.header-top .header-top-left {
    color: white;
    font-size: 90%;
}
.header-top .header-top-left a{
    color: white;
}
.header-top .header-top-left b{
    color: #F4C533;
}

/*****Header-middle****/
.header-middle{
    width: 100%;
    height: 90px;
}
.header-middle .header-middle-left {
    float: left;
    width: 25%;
}
header .header-middle .navbar-main{
    float: right;
    width: 75%;
    padding-top: 15px;
}

header .header-middle .navbar-main .navbar-nav .nav-item{
    position: relative;
}

header .header-middle .navbar-main .navbar-nav .nav-item:hover .nav-ul-child {
    opacity: 0.8;
    visibility: visible;
    max-width: 1000px;
    max-height: 1000px;
    -webkit-transform: perspective(600px) rotateX(0);
    -moz-transform: perspective(600px) rotateX(0);
    -ms-transform: perspective(600px) rotateX(0);
    -o-transform: perspective(600px) rotateX(0);
    transform: perspective(600px) rotateX(0);
    -webkit-transition: -webkit-transform .5s ease,opacity .2s ease,max-height 0s step-end,max-width 0s step-end,padding 0s step-end;
    -o-transition: -o-transform .5s ease,opacity .2s ease,max-height 0s step-end,max-width 0s step-end,padding 0s step-end;
    transition: transform .5s ease,opacity .2s ease,max-height 0s step-end,max-width 0s step-end,padding 0s step-end;
}


header .header-middle .navbar-main .navbar-nav .nav-item .nav-ul-child{
    position: absolute;
    left: 0px;
    top: 42px;
    background-color: #b50000;
    width: 300px;
    z-index: 999;
    opacity: 0.9;
    font-size: 15px;
    border-radius: 3px 3px 3px 3px;
    opacity: 0;
    visibility: visible;
    max-width: 0;
    max-height: 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: perspective(600px) rotateX(-90deg);
    -moz-transform: perspective(600px) rotateX(-90deg);
    -ms-transform: perspective(600px) rotateX(-90deg);
    -o-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transition: -webkit-transform .5s ease,opacity .6s ease,max-height .6s step-end,max-width .6s step-end,padding .6s step-end;
    -o-transition: -o-transform .5s ease,opacity .6s ease,max-height .6s step-end,max-width .6s step-end,padding .6s step-end;
    transition: transform .5s ease,opacity .6s ease,max-height .6s step-end,max-width .6s step-end,padding .6s step-end;
    list-style: none;
    padding: 10px 40px;
}

header .header-middle .navbar-main .navbar-nav .nav-item .nav-ul-child li{
    padding: 3px 0px;
    border-bottom: 1px solid rgb(198, 0, 0);
}
header .header-middle .navbar-main .navbar-nav .nav-item .nav-ul-child li a{
    text-transform: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
header .header-middle .navbar-main .navbar-nav .nav-item .nav-ul-child li a{
    text-transform: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

header .header-middle .navbar-main .navbar-expand-md .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff !important;
    font-size: 110%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px;
}

header .header-middle .navbar-main .navbar-expand-md .navbar-collapse .navbar-nav .active .nav-link {
    color: #FFD427 !important; 
}

@media only screen and (max-width: 1024px) {
    header .header-middle .navbar-main .navbar-nav .nav-item .nav-ul-child{
        top: 60px;
    }
}

@media only screen and (max-width: 768px) {
    header .header-middle .navbar-main .navbar-expand-md .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 90% !important; 
    }
    .header-middle .header-middle-left img{
        width: 100%;
    }

    
}

@media only screen and (max-width: 575px) {
    header .header-middle {
        position: relative;
        display: block !important; 
        height: 60px;
    }
    .header-middle .header-middle-left img{
        width: 154px;
    }

    header .header-middle .navbar-main {
        right: 0;
        top: 0;
        width: 75%;
        padding:0px
    } 

    header .header-middle .navbar-main .navbar-expand-md {
        padding: 0; 
    }

    header .header-middle .navbar-main .navbar-expand-md .navbar-toggler {
        margin: 10px 10px 10px 0px; 
        border-color: white;
    }
    header .header-middle .navbar-main .navbar-expand-md .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
     

    header .header-middle .navbar-main .navbar-expand-md .navbar-collapse {
        position: absolute;
        top: 90px;
        width: 133%;
        z-index: 999;
    } 

    header .header-middle .navbar-main .navbar-expand-md .navbar-collapse .navbar-nav {
        padding-left: 15px;
        background: #114072; 
    } 

    header .header-middle .navbar-main .navbar-expand-md .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 80%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    } 

    header .header-middle .navbar-main .navbar-nav .nav-item .nav-ul-child{
        top: 35px;
        position: unset;
        padding: 10px 40px 0px;
    }
}

/* header-bottom */
.header-bottom{
    background-color: #114072;
}

.header-bottom img{
    width: 30px;
    height: 30px;
}


/* BODY */
/* body-banner */

.body-content .content-banner{
    position: relative;
}
.body-content .content-banner .banner-main img {
    width: 100%;
}

.body-content .content-banner .search-img-custom{
    position: absolute;
    left: 35%;
    top: 20px;
    width: 35%;
}

.body-content .content-banner .search-img-custom .input-group .selectpicker{
    border-radius: 50px 0px 0px 50px;
    background-color: #E5E5E5;
    padding: 0px 10px;
    border: 0px;
}
.body-content .content-banner .search-img-custom .input-group .input-group-append span{
    border-radius: 0px 50px 50px 0px;
    padding: 0px 20px;
    background-color: #FF5A21;
}
.body-content .content-banner .search-img-custom .input-group .input-group-append span i{
    color: white;
}
.body-content .content-banner .search-img-custom b{
    color: white;
    font-size: 70%;
}

@media only screen and (max-width: 1024px) {
    .body-content .content-banner .search-img-custom {
        left: 25%;
        top: 20px;
        width: 50%;
    }
    .body-content .content-banner .search-img-custom b{
        color: white;
        font-size: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .body-content .content-banner .banner-main img {
        height: 340px;
        object-fit: cover;
    }
    .body-content .content-banner .search-img-custom .input-group .selectpicker,.body-content .content-banner .search-img-custom .input-group input {
        height: 30px;
    }
}

@media only screen and (max-width: 575px) {
    .body-content .content-banner .search-img-custom {
        left: 10%;
        padding: 0px 10px;
        top: 5px;
        width: 80%;
    }
    .body-content .content-banner .search-img-custom .input-group .selectpicker, .body-content .content-banner .search-img-custom .input-group input {
        height: 21px;
        font-size: 60%;
        padding: 0px;
        text-indent: 5px;
    }
    .body-content .content-banner .search-img-custom .input-group .input-group-append span {
        border-radius: 0px 10px 10px 0px;
        padding: 0px 15px;
    }
    .body-content .content-banner .search-img-custom .input-group .input-group-append span i{
        font-size: 60%;
    }
    .body-content .content-banner .search-img-custom b {
        font-size: 20%;
    }
    .body-content .content-banner .banner-main img {
        height: 166px;
    }
}



/* quy-trinh-content */

.quy-trinh-content{
    background: #f5f5f5;
    padding: 20px 0px;
    float: left;
    width: 100%;
}

.quy-trinh-content .row {
    background: url(../upload/hr-qt-bg.jpg) repeat-x 0px 0px transparent;
    padding-top:20px;
}

.quy-trinh-content .row .col-process {
    border: 1px solid #d5d5d5;
    background: white;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    width: 15%;
    margin-right: 2%;
}
.quy-trinh-content .row .col-process-custom {
    margin: 0px;
}

.quy-trinh-content .row .col-process:after {
    background: url(../upload/li-after-right.jpg) no-repeat 0px 0px transparent;
    content: "";
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 10;
    width: 19px;
    height: 24px;
}

.quy-trinh-content .row .col-process img {
    float: left;
    margin-right:20px;
}

.quy-trinh-content .row .col-process b {
    font-weight: 500;
}

@media only screen and (max-width: 1024px){
    .quy-trinh-content .row .col-process {
        width: 23%;
        margin: 1% 2% 0% 0%;
    }
}

@media only screen and (max-width: 768px){
    .quy-trinh-content .row .col-process {
        width: 31%;
        margin: 1% 2% 0% 0%;
    }
}

@media only screen and (max-width: 575px){
    .quy-trinh-content .row .col-process {
        width: 100%;
        margin: 10px 0px 0px;
    }
}


/* cong-cu-dat-hang-content */
.cong-cu-dat-hang-content{
    float: left;
    width: 100%;
    background-image: url(../upload/tool-bg.png);
    background-repeat: no-repeat;
    border-top: 1px solid #d5d8dc;
    border-bottom: 1px solid #d5d8dc;
}

.cong-cu-dat-hang-content .congcu-left{
    text-align: center;
}

.cong-cu-dat-hang-content .congcu-left img{
    width: 100%;
}

.cong-cu-dat-hang-content .congcu-right img{
    width: 100%;
}

.cong-cu-dat-hang-content .congcu-right .text-custom {
    padding-top: 30px;
    float: left;
    width: 100%;
}

.cong-cu-dat-hang-content .congcu-right .text-custom p{
    font-size: 120%;
    font-weight: 400;
}

.cong-cu-dat-hang-content .congcu-right .text-custom p i{
    font-size: 80%;
}

.cong-cu-dat-hang-content .congcu-right .href-custom{
    float: left;
    width: 100%;
}
.cong-cu-dat-hang-content .congcu-right .href-custom .google-chrome {
    float: left;
    width: 40%;
    background: #333333;
    border-radius: 39px;
    padding: 5px;
    margin-right: 5%;
}

.cong-cu-dat-hang-content .congcu-right .href-custom .google-chrome a{
    text-decoration: none;
}

.cong-cu-dat-hang-content .congcu-right .href-custom .google-chrome a img{
    float: left;
    width: 20%;
}

.cong-cu-dat-hang-content .congcu-right .href-custom .google-chrome a p{
    font-size: 75%;
    margin: 0px;
    color: white;
    width: 80%;
    text-align: center;
}


.cong-cu-dat-hang-content .congcu-right .href-custom .coc-coc {
    float: left;
    width: 40%;
    background: #333333;
    border-radius: 39px;
    padding: 5px;
}

.cong-cu-dat-hang-content .congcu-right .href-custom .coc-coc a{
    text-decoration: none;
}

.cong-cu-dat-hang-content .congcu-right .href-custom .coc-coc a img{
    float: left;
    width: 20%;
}

.cong-cu-dat-hang-content .congcu-right .href-custom .coc-coc a p{
    font-size: 80%;
    margin: 0px;
    color: white;
    width: 80%;
    text-align: center;
}

.cong-cu-dat-hang-content .congcu-right .href-custom-app{
    float: left;
    width: 100%;
}

.cong-cu-dat-hang-content .congcu-right .href-custom-app .app-store{
    float: left;
    width: 40%;
    margin-right: 5%;
}
.cong-cu-dat-hang-content .congcu-right .href-custom-app .app-store img, .cong-cu-dat-hang-content .congcu-right .href-custom-app .google-play img{
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.cong-cu-dat-hang-content .congcu-right .href-custom-app .google-play{
    float: left;
    width: 40%;
}

@media only screen and (max-width: 1024px){
    .cong-cu-dat-hang-content{
        padding-bottom: 30px;
    }
    .cong-cu-dat-hang-content .congcu-right .href-custom  a p {
        font-size: 60% !important;
    }
}

@media only screen and (max-width: 768px){
    .cong-cu-dat-hang-content .congcu-right .href-custom .google-chrome {
        width: 50%;
        margin-right: 0%;
    }
    .cong-cu-dat-hang-content .congcu-right .href-custom .coc-coc {
        width: 50%;
    }
    .cong-cu-dat-hang-content .congcu-right .href-custom-app .app-store {
        width: 50%;
        margin-right: 0%;
    }
    .cong-cu-dat-hang-content .congcu-right .href-custom-app .google-play {
        width: 50%;
    }
}

@media only screen and (max-width: 575px){
    .cong-cu-dat-hang-content .congcu-right .href-custom-app .app-store {
        width: 49%;
        margin-right: 2%;
    }
    .cong-cu-dat-hang-content .congcu-right .href-custom-app .google-play {
        width: 49%;
    }
}


/* dich-vu-content */
.dich-vu-content{
    float: left;
    width: 100%;
    padding: 40px 0px;
    /* overflow-x: auto; */
}
.dich-vu-content .dich-vu-text-top{
    text-align: center;
    margin-bottom: 40px;
}

.dich-vu-content .dich-vu-text-top p{
    font-size: 130%;
    font-weight: 400;
}

.dich-vu-content .dich-vu-text-top p:after{
    content: "";
    display: table;
    clear: both;
    background: url(../upload/tieu-de-dich-vu.png);
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-top: 0;
}
.dich-vu-content .dich-vu-text-top i{
    font-size: 80%;
    padding: 0px 10px;
}
.dich-vu-content .dich-vu-bottom{
    float: left;
    width: 100%;
    position: relative;
}

.dich-vu-content .dich-vu-bottom .row-dich-vu{
    float: left;
    width: 100%;
}

.dich-vu-content .dich-vu-bottom:before {
    content: "";
    background: url(../upload/moon.png) no-repeat 0px 0px transparent;
    position: absolute;
    right: 10%;
    top: -60%;
    width: 332px;
    height: 327px;
    z-index: -1;
}

.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom {
    float: left;
    width: 49%;
    background: white;
    box-shadow: #f1f4f2 0px 3px 16px 4px;
    border-radius: 3px;
}

.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom:hover {
    background: #1e5895;
    color: white;
}

.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom-fix {
    margin-right: 2%;
}

.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom img{
    float: left;
    width: 20%;
    padding:2%;
}

.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom .div-custom-text{
    float: left;
    width: 80%;
    padding: 10px;
}

.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom .div-custom-text h4,.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom .div-custom-text p{
    float: left;
    width: 100%;
}
.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom .div-custom-text h4 a{
    color: #0C3B6B;
    text-decoration: none;
    font-size: 80%;
}

.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom:hover .div-custom-text h4 a{
    color: #f4c533;
}
.dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom .div-custom-text p{
    font-size: 80%;
    line-height: 1.8rem;
    margin:0px;
}

.dich-vu-content .dich-vu-bottom .row-dich-vu-bottom{
    margin-top: 2%;
}

@media only screen and (max-width: 768px){
    .dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom img {
        width: 30%;
        padding: 2%;
    }
    .dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom .div-custom-text {
        width: 70%;
    }
    .dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom .div-custom-text h4 a {
        font-size: 70%;
    }
    .dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom .div-custom-text p {
        line-height: 1.3rem;
    }
}

@media only screen and (max-width: 575px){
    .dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom {
        float: left;
        width: 100%;
        background: white;
        box-shadow: #f1f4f2 0px 3px 16px 4px;
        border-radius: 3px;
    }
    .dich-vu-content .dich-vu-bottom .row-dich-vu .col-custom-fix {
        margin-right: 0%;
        margin-bottom: 2%;
    }
}

/* bang-gia-content */
.bang-gia-content {
    float: left;
    width: 100%;
    background-image: url(../upload/banggia-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bang-gia-content .col-img img{
    float: right;
    width: 75%;
}

.bang-gia-content .col-bang-gia{
    margin: 50px 0px;
}

.bang-gia-content .col-bang-gia h3{
    color: #1a5694;
    font-size: 130%;
    font-weight: 400;
}
.bang-gia-content .col-bang-gia i{
    font-size: 90%;
}
.bang-gia-content .col-bang-gia ul{
    float: left;
    width: 100%;
    padding:0px;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0px;
}

.bang-gia-content .col-bang-gia ul li{
    float: left;
    width: 49%;
    font-size: 90%;
    margin-bottom: 20px;
}

.bang-gia-content .col-bang-gia ul .li-custom{
    margin-right: 2%;
}

.bang-gia-content .col-bang-gia ul li a{
    text-decoration: none;
    color: #000;
}

.bang-gia-content .col-bang-gia ul li a span{
    background: #a4b3c4;
    width: 6%;
    height: 20px;
    float: left;
    text-align: center;
    margin-right: 9%;
    position: relative;
}

.bang-gia-content .col-bang-gia ul li a span i {
    position: absolute;
    width: 100%;
    height: 20px;
    background: #1a5694;
    top: 4px;
    left: 4px;
    font-style: inherit;
    color: white;
}

.bang-gia-content .col-bang-gia ul li a p {
    float: left;
    width: 85%;
}

.bang-gia-content .col-bang-gia .button-bang-gia {
    float: right;
    color: white;
    background-color: #FF5B35;
    padding:5px 20px;
    border-radius: 3px;
    font-size: 90%;
    text-decoration: none;
}

@media only screen and (max-width: 1024px){
    .bang-gia-content .col-img img {
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .bang-gia-content .col-bang-gia ul li a span{
        width: 10%;
    }
    .bang-gia-content .col-bang-gia ul li a p {
        width: 81%;
    }
}

@media only screen and (max-width: 768px){
    .bang-gia-content .col-bang-gia ul li a span{
        width: 12%;
    }
    .bang-gia-content .col-bang-gia ul li a p {
        width: 79%;
    }
}



/* cam-ket-dich-vu-content */

.cam-ket-dich-vu-content{
    float: left;
    width: 100%;
    background: url(../upload/cam-ket-dich-vu-bg.png) no-repeat center -43px #1a5694;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu{
    padding-top: 40px;
    background: url(../upload/cam-ket-dich-vu-bg1.png) no-repeat 0px bottom transparent;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content{
    float: left;
    width: 100%;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main{
    float: right;
    width: 60%;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main h3{
    float: left;
    width: 20%;
    text-transform: uppercase;
    color: #f4c533;
    text-align: right;
    font-size: 130%;
    margin-right: 5%;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main h3 span{
    color: #fff;
    font-size: 150%;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main .text{
    float: left;
    width: 75%;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main .text .nham-mang-den{
    font-size: 85%;
    color: white;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main .text .camket-include{
    width: 100%;
    float: left;
    position: relative;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main .text .camket-include::before{
    content: "";
    background: #807f7f;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}
.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main .text .cam-ket{
    width: 100%;
    float: left;
    position: relative;
    z-index: 2;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main .text .cam-ket div{
    width: 50%;
    float: left;
    padding: 5px;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main .text .cam-ket h4{
    color: #f4c533;
    font-size: 100%;
}
.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main .text .cam-ket p{
    color: #fff;
    font-size: 90%;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom{
    float: left;
    width: 100%;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include{
    float: left;
    width: 100%;
    position: relative;
    top:40px;
    z-index: 2;
    list-style: none;
    padding: 0px;
}
.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom{
    float: left;
    width: 22.5%;
    border-radius: 3px;
    padding: 10px;
    min-height: 50px;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom-1{
    margin-left: 3.5%;
    background-color: #C6166F;
    color:#fff;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom-2{
    margin-left: 1%;
    background-color: #6C16C7;
    color:#fff;
}
.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom-3{
    margin-left: 1%;
    background-color: #2A1BC8;
    color:#fff;
}
.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom-4{
    margin-left: 1%;
    margin-right: 3.5%;
    background-color: #1B7DC8;
    color:#fff;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom .number{
    float: left;
    width: 35%;
    text-align: center;
    line-height: 48px;
}

.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom .number b{
    font-size: 150%;
}


.cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom .text{
    float: left;
    width: 65%;
    font-size: 85%;
}

@media only screen and (max-width: 575px){
    .cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main {
        float: left;
        width: 100%;
    }
    .cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main h3 {
        width: 100%;
        text-align: center;
    }
    .cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .content-main .text {
        width: 100%;
    }

    .cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom .number {
        width: 100%;
        text-align: center;
    }
    .cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include .col-custom .text {
        width: 100%;
    }
    .cam-ket-dich-vu-content .row-cam-ket-dich-vu .content .cam-ket-chat-luong-bottom .col-include {
        position: unset;
    }
}

/* cau-hoi-thuong-gap-content */

.cau-hoi-thuong-gap-content{
    float: left;
    width: 100%;
    background: url(../upload/bg-faq-repeat.png) repeat-x 0px 0px transparent;
    position: relative;
    border-bottom: 1px solid #f7f7f7;
    padding:40px 0px;
}

.cau-hoi-thuong-gap-content::after{
    content: "";
    background: url(../upload/faq-bg.png) no-repeat 0px bottom transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    z-index: 0;
}

.cau-hoi-thuong-gap-content .container-cau-hoi{
    position: relative;
    z-index: 1;
}
.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left{
    padding: 40px;
}
.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left h4{
    color: #1a5694;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .i-title{
    font-size: 80%;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .bs-example .card{
    margin-bottom: 10px;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .bs-example .card-header{
    padding: 0px;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .bs-example .h2-custom-accordion{
    float: left;
    width: 100%;
    font-size: 90%;
    background-color: #306AA6;
    color: white;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .bs-example h2.collapsed{
    float: left;
    width: 100%;
    font-size: 90%;
    background-color: #F2F2F2;
    color:black;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .bs-example .h2-custom-accordion p{
    float: left;
    margin: 0px;
    width:90%;
    padding: 7px 0px 7px 15px;
}
.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .bs-example .h2-custom-accordion .p-icon{
    float: right;
    color: #fff;
    margin: 0px;
    line-height: 48px;
    width: 7%;
    text-align: center;
    background-color: #1A5694;
    padding:0px;
}
.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .bs-example h2.collapsed .p-icon{
    float: right;
    color: #fff;
    margin: 0px;
    line-height: 48px;
    width: 7%;
    text-align: center;
    background-color: #7D7D7D;
    padding:0px;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .bs-example .card-body{
    padding:10px;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left .bs-example .card-body p{
    font-size: 90%;
    margin: 0px;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-right{
    padding-top: 40px;
}
.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-right h4{
    color: #1a5694;
}

.cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-right .i-title{
    font-size: 80%;
}


@media only screen and (max-width: 768px){
    .cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left {
        padding: 20px;
    }
    .cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-right {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 768px){
    .cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-left {
        padding: 0px;
    }
    .cau-hoi-thuong-gap-content .container-cau-hoi .cau-hoi-thuong-gap-right {
        padding-top: 20px;
    }
}

/* tin-tuc-content */
.tin-tuc-content{
    float: left;
    width: 100%;
    padding: 30px 0px;
}

.tin-tuc-content .tin-tuc-text-top{
    text-align: center;
}

.tin-tuc-content .tin-tuc-text-top p{
    font-size: 140%;
    font-weight: 400;
    text-transform: uppercase;
}

.tin-tuc-content .tin-tuc-text-top:after{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #333;
    margin: 0 auto;
    margin-top: 10px;
}
.tin-tuc-content .tin-tuc-text-top i{
    font-size: 80%;
    padding: 0px 10px;
}

.tin-tuc-content .carousel-indicators {
    bottom: -20px !important;
}

.tin-tuc-content .carousel-indicators li {
    background-color: #000;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.tin-tuc-content .carousel-inner{
    float: left;
    width: 100%;
    padding: 40px 0px;
}

.tin-tuc-content .carousel-inner .carousel-item .col-custom{
    float: left;
    width: 100%;
}

.tin-tuc-content .carousel-inner .carousel-item .col-custom .img{
    float: left;
    width: 40%;
}
.tin-tuc-content .carousel-inner .carousel-item .col-custom .img img{
    float: left;
    width: 100%;
    height: 100%;

}

.tin-tuc-content .carousel-inner .carousel-item .col-custom .text{
    float: left;
    width: 60%;
    padding: 10px;
    font-size: 90%;
    background-color: #FAFAFA;
}

.tin-tuc-content .carousel-inner .carousel-item .col-custom .text h3 {
    font-size: 100%;
    font-weight: 600;
    color: #306aa6;
}

.tin-tuc-content .carousel-inner .carousel-item .col-custom .text a {
    color: #306aa6;
    text-decoration: none;
}

@media only screen and (max-width: 575px){
    .tin-tuc-content .carousel-inner .carousel-item .col-custom .text {
        font-size: 70%;
    }
}


/* bao-chi-content */
.bao-chi-content{
    float: left;
    width: 100%;
    padding: 40px 0px;
}

.bao-chi-content .bao-chi-text-top{
    text-align: center;
    margin-bottom: 30px;
}

.bao-chi-content .bao-chi-text-top p{
    font-size: 140%;
    font-weight: 400;
    text-transform: uppercase;
}

.bao-chi-content .col-custom{
    float: left;
    width: 100%;
    text-align: center;
}

.bao-chi-content .col-custom img{
    /* width: 16%; */
}

@media only screen and (max-width: 1024px){
    .bao-chi-content .col-custom img{
        width: 16%;
    }
}

@media only screen and (max-width: 575px){
    .bao-chi-content .bao-chi-text-top p {
        font-size: 110%;
    }
    .bao-chi-content .col-custom img{
        width: 18%;
    }
}

/* doi-tac-content */
.doi-tac-content{
    float: left;
    width: 100%;
    padding: 20px 0px;
    background: url(../upload/crupto.png) no-repeat center 0px #f6f6f6;
}

.doi-tac-content .doi-tac-text-top{
    text-align: center;
}

.doi-tac-content .doi-tac-text-top p{
    font-size: 140%;
    font-weight: 400;
    text-transform: uppercase;
}

.doi-tac-content .col-custom{
    float: left;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1024px){
    .doi-tac-content .col-custom img{
        width: 20%;
    }
}

@media only screen and (max-width: 575px){
    .doi-tac-content .doi-tac-text-top p {
        font-size: 110%;
    }
    .doi-tac-content .col-custom img{
        width: 33%;
    }
}




/* footer */

.footer-background {
    width: 100%;
    background-color: #07366a;
    float: left;
    padding-bottom: 80px;
}
    .footer .footer-column .footer-top-child-text p {
    font-size: 13px;
    color: #b9b9b9;
}

.footer .footer-column .footer-top-child-text .footer-title {
    line-height: 0.3;
}

.footer .footer-column .footer-top-child-text .footer-title h5 {
    font-size: 14px;
    color: #fff;
}

.footer .footer-column-2-3 .footer-top-child-text .footer-title {
    line-height: 1;
}

.footer .footer-column-2-3 .footer-top-child-text .footer-title hr {
    width: 100%;
    height: 2px;
    background: #ffa800;
}
.footer .footer-column-2-3 .footer-top-child-text a {
    font-size: 13px;
    color: #b9b9b9;
}

.footer .footer-column-2-3 .footer-top-child-text h5 {
    font-size: 14px;
    color: #fff;
}

.footer
.footer-column-2-3
.footer-top-child-text
.footer-title
.title-column-four
h5 {
    font-size: 14px;
    color: #d5d5d5;
}

.footer
.footer-column-2-3
.footer-top-child-text
.footer-title
.title-column-four
p {
    font-size: 13px;
    color: #b9b9b9;
}

.footer
.footer-column-2-3
.footer-top-child-text
.footer-title
.title-column-four
span {
    font-size: 13px;
    color: #b9b9b9;
}

.footer
.footer-column-2-3
.footer-top-child-text
.footer-title
.title-column-four
hr {
    height: 0.1px;
    background: #545454;
}

/* footer-bottom */

.footer-bottom-background {
    width: 100%;
    background-color: #072648;
    float: left;
}

.footer-bottom .footer-bottom-column .copyright {
line-height: 0.7;
padding: 15px 0px 0px 0px;
}

.footer-bottom .footer-bottom-column .copyright p {
    font-size: 13px;
    color: #b9b9b9;
}


  




