.section-body-tracuoc .row-title-tracuoc .column-title-tracuoc h1 {
    font-weight: normal;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
    padding: 10px;
    color: #333;
    box-sizing: border-box;
    margin-top: 5px;
    line-height: 32px;
    text-transform: uppercase;
  }
  
  .section-body-tracuoc .tra-cuoc-item-page {
    float: left;
    width: 100%;
    margin-top: 20px;
    background: #185492;
    padding: 2%;
    margin-bottom: 20px;
    font-family: arial;
    overflow-x: auto;
  }

  
  
  .section-body-tracuoc .tra-cuoc-item-page .uk-width-1-5 {
    width: 20%;
    float: left;
  }
  
  .section-body-tracuoc .diem-nhan-diem-tra {
    height: 30px;
  }
  .section-body-tracuoc .tra-cuoc-item-page .diem-nhan-diem-tra select {
    height: 27px;
    text-indent: 7px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 90%;
  }
  
  .section-body-tracuoc  .tra-cuoc-item-page .diem-nhan-diem-tra .form-item {
    float: left;
    width: 90%;
    height: 27px;
    text-indent: 7px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: white;
    margin-top: 0px;
  }
  
  .section-body-tracuoc .tra-cuoc-item-page .diem-nhan-diem-tra .form-item label {
    float: left;
    font-weight: normal;
    padding-top: 1px;
    font-size: 13px;
    margin-top: 2px;
  }
  
  .section-body-tracuoc .tra-cuoc-item-page .diem-nhan-diem-tra .form-item input {
    float: right;
    width: 65px;
    height: 22.5px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    padding: 0px;
    font-size: 15px;
  }
  
  .section-body-tracuoc  .tra-cuoc-item-page .trong-luong {
    margin-top: 15px;
  }
  
  .section-body-tracuoc .tra-cuoc-item-page .trong-luong .form-item {
    width: 100%;
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    height: 25px;
    text-align: center;
    background: white;
  }
  
  .section-body-tracuoc .tra-cuoc-item-page .trong-luong div.form-item label {
    display: inline-block;
    font-weight: normal;
  }
  .section-body-tracuoc  .tra-cuoc-item-page .trong-luong div.form-item input {
    margin-top: 0px;
    border: none;
    padding: 0px;
    height: 23px;
    text-align: center;
  }
  
  .section-body-tracuoc  .tra-cuoc-item-page .result {
    float: left;
    width: 100%;
    margin-top: 20px;
    background: #185492;
  }
  
  .section-body-tracuoc.tra-cuoc-item-page .result table {
    border-radius: 0px 0px 10px 10px;
    border: none;
  }
  
  .section-body-tracuoc .uk-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
  }
  
  .section-body-tracuoc .uk-table-striped tbody tr:nth-of-type(odd) {
    background: #f5f5f5;
  }
  
  .section-body-tracuoc  .tra-cuoc-item-page .result table tr td {
    padding: 5px;
  }
  
  .section-body-tracuoc  .uk-table-condensed td {
    padding: 10px;
    font-size: 15px;
    border-right: 1px dotted gainsboro;
  }
  
  .section-body-tracuoc .tra-cuoc-item-page .result table thead tr th {
    padding: 5px;
    font-weight: normal;
    border: none;
  }
  
  .section-body-tracuoc.uk-table thead th {
    background: #f1f1f1;
  }

  @media only screen and (max-width: 768px) {
    .section-body-tracuoc .tra-cuoc-item-page .overflow{
        width: 120%;
      }
  }

  @media only screen and (max-width: 575px) {
    .section-body-tracuoc .tra-cuoc-item-page .overflow{
        width: 300%;
      }
  }
  