.nha-cung-cap .column-lich-su-giao-dich {
    padding-bottom: 300px;
}

.nha-cung-cap ul li {
    display: inline-block;
    width: 15%;
    text-align: center;
    padding-bottom: 20px;
}

.nha-cung-cap .message-alert {
    background: #e5e5e5;
    padding-top: 20px;
    margin-top: 15px;
}

.nha-cung-cap .message-alert ul li.red b {
    color: red;
}

.nha-cung-cap .message-alert ul li.blue b {
    color: #2ea300;
    font-weight: 700;
}

.nha-cung-cap .message-alert ul li em {
    position: relative;
    font-style: inherit;
    top: -4px;
}

.nha-cung-cap .form-lich-su-giao-dich  {
    float: left;
    width: 100%;
}
.nha-cung-cap .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich{
    float: left;
    width: 20%;
    margin: 10px 10px 10px 0px;
}
.nha-cung-cap .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich input{
    height: 30px;
    width: 100%;
    text-indent: -1px;
    font-size: 90%;
}
.nha-cung-cap .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich select{
    width: 100%;
    height: 30px;
    text-indent: -1px;
    font-size: 90%;
}
.nha-cung-cap .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich-submit input{
    background-color: #0092D0;
    color: white;
    border: none;
    height: 30px;
    padding: 0px 15px; 
    margin: 10px 0px;
}
.nha-cung-cap .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich-submit input:hover{
    background-color: #14c383;
}

.nha-cung-cap .uk-text-right {
    text-align: right !important;
}


.nha-cung-cap .uk-button:not(:disabled) {
    cursor: pointer;
}

.nha-cung-cap .uk-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: white;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    background: #8cc14c;
    vertical-align: middle;
    line-height: 30px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}

.nha-cung-cap .column-lich-su-giao-dich .table-scroll{
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.nha-cung-cap table {
    float: left;
    width: 100%;
}

.nha-cung-cap .table-main-nha-cung-cap tr th {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    background: #185493;
    color: white;
    border-bottom: 2px solid #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nha-cung-cap .table-main-nha-cung-cap tbody tr {
    background: none;
}

.nha-cung-cap tr.even,
.nha-cung-cap tr.odd {
    background-color: #eee;
    border: 1px solid rgb(229, 229, 229);
    padding: 0.1em 0.6em;
}

.nha-cung-cap td.empty.message {
    color: red;
    text-align: center;
    font-size: 15px;
}

.nha-cung-cap .table-main-nha-cung-cap tbody tr td {
    padding: 5px;
    border: 1px solid #e5e5e5;
} 

.nha-cung-cap .table-main-nha-cung-cap tr th a{
    color: white;
}
.nha-cung-cap .nav-tabs .nav-item{
    padding-bottom: 0px;
}
.nha-cung-cap .table-main-nha-cung-cap .table-modal-nha-cung-cap table tr th {
    font-size: 70%;
    text-align: left;
    font-weight: 500;
}
.nha-cung-cap .table-main-nha-cung-cap .table-modal-nha-cung-cap table tr th strong{
    background-color: #FFFF00;
    color: black;
    padding: 0px 5px;
    border-radius: 99px;
}
.nha-cung-cap .table-main-nha-cung-cap .table-modal-nha-cung-cap table tr td strong ,.nha-cung-cap .table-main-nha-cung-cap .table-modal-nha-cung-cap table tr td p{
    font-size: 80%;
}

.nha-cung-cap .table-main-nha-cung-cap .table-modal-nha-cung-cap table tr td {
    font-size: 70%;
}

.nha-cung-cap .table-main-nha-cung-cap .table-modal-nha-cung-cap .nav-tabs .nav-item{
    width: 25%;
}
.nha-cung-cap .table-main-nha-cung-cap .table-modal-nha-cung-cap .nav-tabs .nav-item .nav-link{
    font-size: 70%;
}
@media only screen and (max-width: 768px) {
    .nha-cung-cap .table-main-nha-cung-cap .table-modal-nha-cung-cap .nav-tabs .nav-item .nav-link{
        font-size: 50%;
    }
}
@media only screen and (max-width: 575px) {
    .nha-cung-cap .form-lich-su-giao-dich  .custom-form-lich-su-giao-dich{
        width: 47%;
    }
}