.section-body .nav-middle-tao-don-hang{
    float: left;
    width: 90%;
    background-color: white;
}
.section-body .nav-right{
    float: left;
    width: 20%;
}

.section-body .nav-middle-tao-don-hang .search-img-custom{
    float: left;
    width: 100%;
}

.section-body .nav-middle-tao-don-hang .search-img-custom .nav-middle-img{
    float: left;
    width: 20%;
}
.section-body .nav-middle-tao-don-hang .search-img-custom .nav-middle-img img{
    width: 50%;
}
.section-body .nav-middle-tao-don-hang .search-img-custom .input-group{
    float: left;
    width: 80%;
}
.section-body .nav-middle-tao-don-hang .search-img-custom .input-group .selectpicker{
    border-radius: 50px 0px 0px 50px;
    background-color: #E5E5E5;
    padding: 0px 10px;
    border: 0px;
}
.section-body .nav-middle-tao-don-hang .search-img-custom .input-group .input-group-append span{
    border-radius: 0px 50px 50px 0px;
    padding: 0px 20px;
    background-color: #FF5A21;
}
.section-body .nav-middle-tao-don-hang .search-img-custom .input-group .input-group-append span i{
    color: white;
}
.section-body .nav-middle-tao-don-hang .hotline-custom{
    text-align: right;
    width: 100%;
}
.section-body .nav-middle-tao-don-hang .hotline-custom .nav-middle-img{
    float: right;
    width: 30%;
}
.section-body .nav-middle-tao-don-hang .hotline-custom .hotline{
    float: right;
    width: 30%;
}

.section-body .nav-middle-tao-don-hang .top {
    background-image: url("../upload/search-dash-bg.png");
}

.section-body .nav-middle-tao-don-hang .top .hotline .inner span {
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}
.section-body .nav-middle-tao-don-hang .top .hotline .inner b {
    text-transform: uppercase;
    font-weight: bold;
    color: #c00017;
    font-size: 20px;
}

.section-body .nav-middle-tao-don-hang .top {
    padding: 30px;
}

.section-body .nav-middle-tao-don-hang .row {
    margin: 0 auto; 
}

.tao-don-hang{
    background-color: #F2F4FA;
}

.tao-don-hang .tao-don-hang-content{
    background-color: #fff;
    padding: 15px 0px;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-top{
    border: 1px solid #e5e5e5;
    /* margin: 15px; */
    padding:5px 0px;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-top ul{
    list-style: none;
    margin: 0px;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-top ul li{
    display: inline;
    margin-right: 15px;
    font-size: 90%;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-top ul li b{
    margin-right: 15px;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-focus{
    background-color: #fff1f0;
    color: #d85030;
    font-size: 90%;
    padding: 10px;
    margin: 15px 0px;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-middle{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang{
    width: 100%;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr th{
    background-color: #185493;
    text-align: center;
    color: white;
    font-size: 90%;
    padding: 10px 0px;
    font-weight: 400;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang #tbody-them-don-hang:hover{
    background-color: #D9EDF7;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr .row-table-1{
    width: 5%;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr .row-table-2{
    width: 10%;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr .row-table-3{
    width: 40%;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr .row-table-4{
    width: 10%;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr .row-table-5{
    width: 15%;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr .row-table-6{
    width: 10%;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr td{
    text-align: center;
    font-size: 90%;
    padding: 15px;
    border: 1px solid #e5e5e5;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr .td-hinh-anh{
    padding: 30px;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr td span{
    background-color: #185493;
    color: white;
    padding: 0px 7px;
    border-radius: 99px;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr td input{
    height: 30px;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr td .hinhanh img{
    width: 100%;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr td .hinhanh .btn-bottom{
    width: 100%;
    float: left;
}
.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr td .hinhanh .btn-bottom{
    width: 100%;
    float: left;
}

.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr td .hinhanh .btn-bottom .bg-info ,.tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang tr td .hinhanh .btn-bottom .bg-success{
    width: 45%;
    color: white;
    padding: 2px 0px;
    margin-top: 5px;
}

.tao-don-hang .tao-don-hang-content .btn-them-sp a {
    color: white;
    background: #fb5d14;
    padding:5px 10px;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac{
    background-color: #CCCCCC;
    padding: 15px;
    float: left;
    width: 100%;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen{
    width: 100%;
    float: left;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen label{
    width: 10%;
    float: left;
    font-size: 90%;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen #edit-van-chuyen{
    width: 30%;
    float: left;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen #edit-van-chuyen .form-item-van-chuyen-check{
    width: 50%;
    float: left;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen #edit-van-chuyen .form-item-van-chuyen-check input,.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen #edit-van-chuyen .form-item-van-chuyen-check label{
    width: 50%;
    float: left;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen #edit-van-chuyen .form-item-van-chuyen-check input{
    width: 50%;
    float: left;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac{
    width: 100%;
    float: left;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac label{
    width: 10%;
    float: left;
    font-size: 90%;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac #edit-yeu-cau-khac{
    width: 30%;
    float: left;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac #edit-yeu-cau-khac .form-item-yeu-cau-khac-1{
    width: 50%;
    float: left;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac #edit-yeu-cau-khac .form-item-van-chuyen-check input,.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac #edit-yeu-cau-khac .form-item-yeu-cau-khac-1 label{
    width: 50%;
    float: left;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac #edit-yeu-cau-khac .form-item-yeu-cau-khac-1 input{
    width: 50%;
    float: left;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-khai-thue-id{
    width: 100%;
    float: left;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-khai-thue-id label{
    width: 10%;
    float: left;
    font-size: 90%;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-khai-thue-id input{
    width: 8%;
    float: left;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .thong-tin-mua-hang .card-header,.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .tru-so-nhan-hang .card-header{
    font-weight: 600;
    padding: 3px 10px;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .thong-tin-mua-hang .card-body,.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .tru-so-nhan-hang .card-body{
    padding: 10px;
    font-size: 90%;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .button-dat-hang input{
    background-color: #179C1D;
    padding: 5px 80px;
    border: 0px;
    color:white
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .button-dat-hang input:hover{
    background-color: #fb5d14;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-right .tong-tien-tam-tinh{
    background: #f9f9f9;
    padding: 5px;
    border: 1px solid #eee;
    font-size: 90%;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-right .tong-tien-tam-tinh p{
    margin: 0px;
}
.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-right .tong-tien-tam-tinh p span{
    float:right;
}

.tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-right .tong-tien-tam-tinh p span b{
    color:red;
}


@media only screen and (max-width: 1024px) {
    .section-header .section-header-left{
        width: 25%;
    }
    .section-header .section-right-custom{
        width: 75%;
    }
    .tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang{
        width: 150%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen label {
        width: 30%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen #edit-van-chuyen {
        width: 50%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac label {
        width: 30%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac #edit-yeu-cau-khac {
        width: 50%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-khai-thue-id label {
        width: 30%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-khai-thue-id input {
        width: 13%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-right .tong-tien-tam-tinh{
        font-size: 55%;
    }
}

@media only screen and (max-width: 768px) {
    .section-body .container-custom .nav-middle-tao-don-hang{
        width: 85%;
    }
    .section-body .nav-middle-tao-don-hang .search-img-custom .input-group{
        width: 100%;
    }
    .section-body .nav-middle-tao-don-hang .hotline-custom .hotline {
        width: 80%;
    }
    .section-body .nav-middle-tao-don-hang .hotline-custom .nav-middle-img {
        width: 90%;
    }
    .tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang{
        width: 200%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-right .tong-tien-tam-tinh{
        font-size: 80%;
    }
}
  
@media only screen and (max-width: 575px) {
    .section-body .container-custom .nav-middle-tao-don-hang{
        width: 100%;
    }
    .section-body .nav-middle-tao-don-hang .top{
        padding:15px;
    }

    .section-body .nav-middle-tao-don-hang .search-img-custom .input-group{
        width: 100%;
    }

    .section-body .nav-middle-tao-don-hang .column-inside-bottom {
        padding: 15px;
    }
    .section-body .box .parent {
        position: static;
        width: 100%;
    }
    .section-body .nav-middle-tao-don-hang .hotline-custom {
        text-align: left;
        width: 100%;
        float: left;
    }
    .section-body .nav-middle-tao-don-hang .hotline-custom .hotline {
        float: left;
        width: 40%;
    }
    .section-body .nav-middle-tao-don-hang .hotline-custom .nav-middle-img {
        float: left;
        width: 12%;
    }
    .section-body .nav-middle-tao-don-hang .hotline-custom .nav-middle-home-icon {
        float: right;
        width: 8%;
    }
    .section-body .nav-middle-tao-don-hang .hotline-custom .back-home {
        float: right;
        width: 20%;
    }

    .tao-don-hang .tao-don-hang-content .tao-don-hang-top{
        width: 100%;
        float: left;
    }

    .tao-don-hang .tao-don-hang-content .tao-don-hang-top ul li{
        width: 50%;
        float: left;
        margin: 0px;
    }

    .tao-don-hang .tao-don-hang-content .tao-don-hang-focus{
        width: 100%;
        float: left;
    }

    .tao-don-hang .tao-don-hang-content .tao-don-hang-middle .table-tao-don-hang{
        width: 400%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-van-chuyen #edit-van-chuyen {
        width: 70%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-yeu-cau-khac #edit-yeu-cau-khac {
        width: 70%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-khai-thue-id label {
        width: 90%;
        float: right;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .yeu-cau-khac .form-item-khai-thue-id input {
        width: 5%;
    }
    .tao-don-hang .tao-don-hang-content .row-bottom-tao-don-hang .col-left .button-dat-hang input{
        width: 100%;
    }
}