.tat-ca-kien-hang {
    background-color: #F2F4FA;
    padding: 20px 0px;
}
.tat-ca-kien-hang .tatcakienhang-focus{
    background-color: #FFF1F0;
    font-size: 90%;
    color: #d85030;
    padding: 8px 20px;
    margin-bottom: 10px;
}

.tat-ca-kien-hang .tatcakienhang-top{
    border: 1px solid #e5e5e5;
    float: left;
    width: 100%;
    padding: 2px 0px;
}

.tat-ca-kien-hang .tatcakienhang-top .step-action{
    list-style: none;
}

.tat-ca-kien-hang .tatcakienhang-top .step-action li{
    float: left;
    width: 10%;

}

.tat-ca-kien-hang .tatcakienhang-top .step-action li a {
    color: black;
    text-decoration: none;
    font-size: 80%;
    background-color: #f1f1f1;
}

.tat-ca-kien-hang .tatcakienhang-top .step-action li a span {
    padding: 0px 5px;
    background-color: #07A8E6;
    color: white;
    font-weight: 600;
    border-radius: 2px;
    font-size: 90%;
    margin-left: 5px;
}

.tat-ca-kien-hang .tatcakienhang-middle {
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.tat-ca-kien-hang .tatcakienhang-middle div{
    float: left;
    width: 16%;
    padding: 7px 0px;
}
.tat-ca-kien-hang .tatcakienhang-middle div input ,.tat-ca-kien-hang .tatcakienhang-middle div select{
    width: 80%;
    height: 30px;
    font-size: 80%;
    border: 1px solid #e5e5e5;
    box-shadow: 1px 1px 1px 1px #e8e3e3;
    border-radius: 5px;
    text-indent: 5px;
}
.tat-ca-kien-hang .tatcakienhang-middle div .custom-search-khieunai{
    background-color: #0092D0;
    color: white;
}
.tat-ca-kien-hang .tatcakienhang-middle div .custom-search-khieunai:hover{
    background-color: #14c383;
}

.tat-ca-kien-hang .tatcakienhang-bottom{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
.tat-ca-kien-hang .tatcakienhang-bottom table{
    width: 100%;
}
.tat-ca-kien-hang .tatcakienhang-bottom table tr th {
    text-align: center;
    font-weight: 500;
    background-color: #0092D0;
    color: white;
    border-bottom: 2px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 90%;
    padding: 5px 0px;
}

.tat-ca-kien-hang .tatcakienhang-bottom table tr td {
    text-align: center;
    font-size: 90%;
    padding: 5px 0px;
    border-bottom: 2px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background-color: white;
}

.tat-ca-kien-hang .shipping-address-request-cart-update {
    position: fixed;
    right: 0px;
    background: #0092d0;
    top: 39%;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 85%;
    text-decoration: none;
}

.tat-ca-kien-hang .shipping-address-request-cart-update .total-giao-hang {
    text-transform: none;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    color: #FFEB3B;
}

@media only screen and (max-width: 1024px){
    .tat-ca-kien-hang .tatcakienhang-top .step-action li {
        width: 20%;
    }
    .tat-ca-kien-hang .shipping-address-request-cart-update {
        font-size: 50%;
    }
}

@media only screen and (max-width: 768px){
    .tat-ca-kien-hang .tatcakienhang-top .step-action li {
        width: 25%;
    }
    .tat-ca-kien-hang .tatcakienhang-middle div {
        width: 33%;
    }
}

@media only screen and (max-width: 575px){
    .tat-ca-kien-hang .tatcakienhang-top .step-action li {
        width: 50%;
    }
    .tat-ca-kien-hang .tatcakienhang-middle div {
        width: 50%;
    }
    .tat-ca-kien-hang .tatcakienhang-bottom table{
        width: 300%;
    }
}