.tu-san-pham-da-mua{
    background-color: #F2F4FA;
}

.tu-san-pham-da-mua .tu-san-pham-da-mua-right h5{
    font-weight: 400;
    margin: 20px 0px;
}

.tu-san-pham-da-mua .tu-san-pham-da-mua-right .tu-san-pham-da-mua-right-content{
    background-color: #F5F5F5;
}
.tu-san-pham-da-mua .tu-san-pham-da-mua-right .tu-san-pham-da-mua-right-content .san-pham-da-chon{
    background-color: #fff;
    padding:5px 0px;
    margin: 20px 0px;
}

.tu-san-pham-da-mua .tu-san-pham-da-mua-right .tu-san-pham-da-mua-right-content input{
    border: 0px;
    background-color: #185493;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    font-size: 90%;
    margin-bottom: 20px;
}

.tu-san-pham-da-mua .tu-san-pham-da-mua-left h5{
    font-weight: 400;
    margin: 20px 0px;
}

.tu-san-pham-da-mua .tu-san-pham-da-mua-left .tu-san-pham-da-mua-left-content{
    background-color: #F5F5F5;
    padding:15px;
    width: 100%;
    float: left;
}

.tu-san-pham-da-mua .tu-san-pham-da-mua-left .tu-san-pham-da-mua-left-content .nha-cung-cap-search-form select{
    float: left;
    width: 30%;
    height: 30px;
    border: 1px solid #ccc;
    font-size: 90%;
}

.tu-san-pham-da-mua .tu-san-pham-da-mua-left .tu-san-pham-da-mua-left-content .nha-cung-cap-search-form .form-item{
    background: white;
    padding: 5px;
    border-radius: 0px;
    float: left;
    margin: 0px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: 0px;
    height: 30px;
    border-left: 0px;
}
.tu-san-pham-da-mua .tu-san-pham-da-mua-left .tu-san-pham-da-mua-left-content .nha-cung-cap-search-form .form-item i{
    float: left;
    width: 5%;
    color: #ccc;
    font-size: 90%;
}
.tu-san-pham-da-mua .tu-san-pham-da-mua-left .tu-san-pham-da-mua-left-content .nha-cung-cap-search-form .form-item input{
    float: left;
    width: 95%;
    border:0px;
    height: 17px;
    font-size: 90%;
}

@media only screen and (max-width: 768px) {
    .tu-san-pham-da-mua .tu-san-pham-da-mua-left .tu-san-pham-da-mua-left-content .nha-cung-cap-search-form select{
        width: 100%;
        margin: 10px 0px;
    }
    .tu-san-pham-da-mua .tu-san-pham-da-mua-left .tu-san-pham-da-mua-left-content .nha-cung-cap-search-form .form-item{
        width: 100%;
        margin: 10px 0px;
    }
}
